<!DOCTYPE html>
<html lang="vi" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="dashboard.html">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết bài viết</title>
</head>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div id="content-page" class="content-page">

            <div class="container pb-4">
                <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body profile-page p-0">
                            <div class="profile-header">
                                <div class="position-relative">
                                    <img th:src="@{'/cover_images/' + ${user.coverImage}}" style="width: 100%; height: 250px; object-fit: cover; overflow: hidden" alt="profile-bg" class="rounded img-fluid">
                                    <ul class="header-nav list-inline d-flex flex-wrap justify-end p-0 m-0">
                                        <li><a href="#"><i class="ri-pencil-line"></i></a></li>
                                        <li><a href="#"><i class="ri-settings-4-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="user-detail text-center mb-3">
                                    <div class="profile-img">
                                        <img th:src="@{'/avatars/' + ${user.avatar}}" src="" alt="profile-img" class="avatar-130 img-fluid">
                                    </div>
                                    <div class="profile-detail">
                                        <h3 class="" th:text="${user.name}"></h3>
                                    </div>
                                </div>
                                <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">
                                    <div class="social-links">
                                    </div>
                                    <div class="social-info">
                                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                            <li class="text-center ps-3">
                                                <h6>Posts</h6>
                                                <p class="mb-0">690</p>
                                            </li>
                                            <li class="text-center ps-3">
                                                <h6>Followers</h6>
                                                <p class="mb-0">206</p>
                                            </li>
                                            <li class="text-center ps-3">
                                                <h6>Following</h6>
                                                <p class="mb-0">100</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                <div class="user-post-data pb-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="me-3">
                                                            <img class="rounded-circle  avatar-60" th:src="@{'/avatars/' + ${user.avatar}}" alt="">
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="d-flex justify-content-between flex-wrap">
                                                                <div class="">
                                                                    <h5 class="mb-0 d-inline-block"><a href="#" class="" th:text="${user.name}"></a></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-12 mb-4 mt-4">
                                                        <div class="event-post position-relative">
<!--                                                            <a href="#"><img src="../assets/images/page-img/07.jpg" alt="gallary-image" class="img-fluid rounded"></a>-->
                                                            <div class="job-icon-position">
                                                                <div class="job-icon bg-primary p-2 d-inline-block rounded-circle"><i class="ri-briefcase-line text-white"></i></div>
                                                            </div>
                                                            <div class="card-body text-center p-2">
                                                                <h5 th:text="${user.bio}"></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 mb-4">
                                                        <div class="event-post position-relative">
                                                            <div class="job-icon-position">
                                                                <div class="job-icon bg-primary p-2 d-inline-block rounded-circle"><i class="ri-briefcase-line text-white"></i></div>
                                                            </div>
                                                            <div class="card-body text-center p-2">
                                                                <h5 th:text="${user.email}"></h5>
                                                                <p class="mb-0">January 24, 2019</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="post-item">
                                                    <div class="user-post-data pb-3">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="w-100">
                                                                <div class="d-flex justify-content-between flex-wrap">
                                                                    <div class="">
                                                                        <p class="mb-0" th:text="${post.createdAt}"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

<!--                                                    <div class="user-post">-->
<!--                                                        <p th:text="${post.content}"></p>-->
<!--                                                        <div class="grid-container ">-->
<!--                                                            <div th:each="image, iterStat : ${images}" th:if="${iterStat.index < 4}" class="grid-item">-->
<!--                                                                <img th:src="@{${image.path}}" alt="Image" class="img-fluid rounded check-orientation" />-->
<!--                                                            </div>-->
<!--                                                            <div th:if="${images.size() > 4}" class="grid-item position-relative">-->
<!--                                                                <img th:src="@{${images[4].path}}" alt="Image" class="img-fluid" />-->
<!--                                                                <div class="overlay">-->
<!--                                                                    <span th:text="'+' + (${images.size()} - 4)"></span>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <div class="user-post">
                                                        <p th:text="${post.content}"></p>
                                                        <div class="grid-container">
                                                            <div th:each="image, iterStat : ${images}" th:if="${iterStat.index < 4}" class="grid-item">
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-image="${image.path}">
                                                                    <img th:src="@{${image.path}}" alt="Image" class="img-fluid rounded check-orientation" />
                                                                </a>
                                                            </div>
                                                            <div th:if="${images.size() > 4}" class="grid-item position-relative">
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-image="${images[4].path}">
                                                                    <img th:src="@{${images[4].path}}" alt="Image" class="img-fluid" />
                                                                    <div class="overlay">
                                                                        <span th:text="'+' + (${images.size()} - 4)"></span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Modal để hiển thị hình ảnh lớn -->
                                                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <img id="modalImage" src="" alt="Large Image" class="img-fluid" />
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="prevBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none;">Quay lại</button>
                                                                    <button id="nextBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none;">Tiếp theo</button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="comment-area mt-3">
                                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                                            <div class="like-block position-relative d-flex align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="like-data">
                                                                        <div class="dropdown">
                                                                           <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                                <img src="../assets/images/icon/01.png" class="img-fluid" alt="">
                                                                           </span>
                                                                            <div class="dropdown-menu py-2">
                                                                                <a class="ms-2 me-2" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like" aria-label="Like"><img src="../assets/images/icon/01.png" class="img-fluid" alt=""></a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="total-like-block ms-2 me-3">
                                                                        <div class="dropdown">
                                                                           <span th:text="${likes.size()}" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                                Tương tác
                                                                           </span>
                                                                            <div class="dropdown-menu">
                                                                                <a th:each="like, iterStat : ${likes}" th:text="${like.user.name}" class="dropdown-item" >Tên người dùng</a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="total-comment-block">
                                                                    <div class="dropdown">
                                                                        <span th:text="${comments.size()}" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                            Bình luận
                                                                        </span>
                                                                        <div class="dropdown-menu">
                                                                            <a th:each="comment, iterStat : ${comments}" th:text="${comment.content}" class="dropdown-item" href="#"></a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="share-block d-flex align-items-center feather-icon mt-2 mt-md-0">
                                                                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#share-btn" aria-controls="share-btn"><i class="ri-share-line"></i>
                                                                    <span class="ms-1">99 Share</span></a>
                                                            </div>
                                                        </div>
                                                        <hr>
<!--                                                        <ul class="post-comments p-0 m-0">-->
<!--                                                            <li th:each="comment, iterStat : ${comments}" class="mb-2">-->
<!--                                                                <div class="d-flex flex-wrap">-->
<!--                                                                    <div class="user-img">-->
<!--                                                                        <img th:src="@{'/avatars/' + ${comment.user.avatar}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">-->
<!--                                                                    </div>-->
<!--                                                                    <div class="comment-data-block ms-3">-->
<!--                                                                        <h6 th:text="${comment.user.name}"></h6>-->
<!--                                                                        <p class="mb-0" th:text="${comment.content}"></p>-->
<!--                                                                        <div class="d-flex flex-wrap align-items-center comment-activity">-->
<!--                                                                            <a href="#">Delete</a>-->
<!--                                                                            <span th:text="${comment.createdAt}"></span>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
                                                        <ul class="post-comments p-0 m-0" id="commentList">
                                                            <li th:each="comment, iterStat : ${comments}"
                                                                th:classappend="${iterStat.index < 10} ? '' : 'd-none'"
                                                                class="mb-2">
                                                                <div class="d-flex flex-wrap">
                                                                    <div class="user-img">
                                                                        <img th:src="@{'/avatars/' + ${comment.user.avatar}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                                    </div>
                                                                    <div class="comment-data-block ms-3">
                                                                        <h6 th:text="${comment.user.name}"></h6>
                                                                        <p class="mb-0" th:text="${comment.content}"></p>
                                                                        <div class="d-flex flex-wrap align-items-center comment-activity">
                                                                            <a href="#">Delete</a>
                                                                            <span th:text="${comment.createdAt}"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <!-- Nút "Xem thêm" -->
                                                        <div id="loadMoreContainer" class="text-center mt-3">
                                                            <button id="loadMore" class="btn btn-primary">Xem thêm</button>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <img src="../assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
                </div>
            </div>
        </div>
        </div>
    </div>
    <script>

    </script>
</body>
</html>