<div class="iq-sidebar  sidebar-default " th:fragment="sidebar">
    <div id="sidebar-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <div class="scroll-content">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                        <a href="#mailbox" data-bs-toggle="collapse" class="  collapsed" aria-expanded="false">
                            <i class="ri-mail-line"></i><span>Bài đăng</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i>
                        </a>
                        <ul id="mailbox" class="iq-submenu collapse" data-bs-parent="#iq-sidebar-toggle">
                            <li class="">
                                <a th:href="@{/dashboard/post/list}"><i class="ri-inbox-line"></i>Danh sách</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="scrollbar-track scrollbar-track-x" style="display: none;">
            <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 250px; transform: translate3d(0px, 0px, 0px);">
            </div>
        </div>
        <div class="scrollbar-track scrollbar-track-y" style="display: block;">
            <div class="scrollbar-thumb scrollbar-thumb-y"
                 style="height: 314.405px; transform: translate3d(0px, 0px, 0px);">
            </div>
        </div>
    </div>
</div>