/*--- login sidebar ---*/

.singin > form {
    border: 1px solid #eaeaea;
    float: left;
    padding: 10px;
    position: relative;
    width: 100%;
}

.singin > form > input {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 100%;
}

.singin {
    float: left;
    width: 100%;
}

.singin > form > input[type="checkbox"] {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    width: auto;
}

.singin > form > label {
    color: #999;
    font-size: 12px;
    margin: 0;
}

.singin > form > button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-top: 20px;
    padding: 8px 10px;
    width: 100%;
}

.singin form .checkbox {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

.singin form .checkbox label {
    font-size: 12px;
    margin: 0;
}


/*--- landing page ---*/

.log-reg-area > h2 {
    font-weight: bold;
    text-transform: capitalize;
}

.land-featurearea {
    background: #1fb6ff none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: 100vh;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.land-meta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.land-meta > h1 {
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
}

.land-meta > p {
    color: #fff;
    letter-spacing: 0.5px;
}

.log-reg-area > p {
    color: #878787;
    font-size: 14px;
}

.friend-logo {
    display: inline-block;
    width: 100%;
}

.friend-logo > span {
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
    font-size: 200px;
    position: relative;
}

.friend-logo > span::before,
.friend-logo > span::after {
    background: #0a98dc none repeat scroll 0 0;
    border: 16px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    content: "";
    height: 180px;
    left: -42px;
    position: absolute;
    top: 20px;
    width: 180px;
    z-index: -1;
}

.land-meta > a.folow-me:hover {
    text-shadow: 0 1px 1px #454545;
}

.login-reg-bg {
    background: #f4f7f6 none repeat scroll 0 0;
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

.log-reg-area {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 35px #e2e2e2;
    display: block;
    float: none;
    left: 50%;
    padding: 35px 55px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 505px;
}

.log-reg-area form .checkbox {
    display: inline-block;
    width: 50%;
}

.log-reg-area form .forgot-pwd,
.log-reg-area form .already-have {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    width: 48.9%;
    float: right;
}

.log-reg-area form .forgot-pwd:hover,
.log-reg-area form .already-have:hover {
    text-decoration: underline;
}

.log-reg-area .checkbox label,
.form-radio label {
    color: #999;
    font-size: 13px;
}

.submit-btns {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.form-radio > .radio {
    display: inline-block;
    margin-bottom: 0;
    width: 20%;
}

.form-radio {
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.log-reg-area.reg {
    display: none;
}

.login-reg-bg.show .log-reg-area.reg {
    display: block;
}

.login-reg-bg.show .log-reg-area.sign {
    display: none;
}

