<!DOCTYPE html>
<html lang="vi" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="dashboard.html">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết bài viết</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content-page" class="content-page">
        <div class="container pb-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body profile-page p-0">
                            <div class="profile-header">
                                <div class="position-relative">
                                    <img th:src="@{'/cover_images/' + ${user.coverImage}}" style="width: 100%; height: 250px; object-fit: cover; overflow: hidden" alt="profile-bg" class="rounded img-fluid">
                                </div>
                                <div class="user-detail text-center mb-3">
                                    <div class="profile-img">
                                        <img th:src="@{'/avatars/' + ${user.avatar}}" src="" alt="profile-img" class="avatar-130 img-fluid">
                                    </div>
                                    <div class="profile-detail">
                                        <h3 class="" th:text="${user.name}"></h3>
                                    </div>
                                </div>
                                <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">
                                    <div class="social-links">
                                    </div>
                                    <div class="social-info">
                                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                            <li class="text-center ps-3">
                                                <h6>Bài đăng</h6>
                                                <p class="mb-0" th:text="${totalPost}"></p>
                                            </li>
                                            <li class="text-center ps-3">
                                                <h6>Bạn bè</h6>
                                                <p class="mb-0" th:text="${totalFriend}"></p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                <div class="user-post-data pb-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="me-3">
                                                            <img class="rounded-circle  avatar-60" th:src="@{'/avatars/' + ${user.avatar}}" alt="">
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="d-flex justify-content-between flex-wrap">
                                                                <div class="">
                                                                    <h5 class="mb-0 d-inline-block"><a href="#" class="" th:text="${user.name}"></a></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-12 mb-4 mt-4">
                                                        <div class="event-post position-relative">
                                                            <div class="job-icon-position">
                                                                <div class="job-icon bg-primary p-2 d-inline-block rounded-circle"><i class="ri-briefcase-line text-white"></i></div>
                                                            </div>
                                                            <div class="card-body text-center p-2">
                                                                <h5 th:text="${user.bio}"></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 mb-4">
                                                        <div class="event-post position-relative">
                                                            <div class="job-icon-position">
                                                                <div class="job-icon bg-primary p-2 d-inline-block rounded-circle">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(255,255,255,1)"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"></path></svg>                                                                </div>
                                                            </div>
                                                            <div class="card-body text-center p-2">
                                                                <h5 th:text="${user.email}"></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <div th:each="post : ${posts}" class="post-item">
                                                    <div class="user-post-data pb-3">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="w-100">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <div>
                                                                        <p class="mb-0" th:text="${#dates.format(post.createdAt, 'HH:mm dd/MM/yyyy')}"></p>
                                                                    </div>
                                                                    <div class="text-end ">
                                                                        <a th:href="@{/dashboard/post/delete/{id}(id=${post.id})}" class="trigger-btn" data-toggle="modal" th:data-target="'#myModal' + ${post.id}">
                                                                            <button class="btn btn-primary">Xóa bài viết</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Modal xác nhận xóa bài viết -->
                                                    <div th:id="'myModal' + ${post.id}" class="modal fade">
                                                        <div class="modal-dialog modal-confirm">
                                                            <div class="modal-content">
                                                                <div class="modal-header flex-column">
                                                                    <h4 class="modal-title w-100">Xóa bài viết</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </i></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Bạn có muốn xóa bài viết của tài khoản <span style="color: red; font-size: 17px" th:text="${post.owner.name}"></span>?</p>
                                                                </div>
                                                                <div class="modal-footer justify-content-center">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                                                    <a th:href="@{/dashboard/post/delete/{id}(id=${post.id})}">
                                                                        <input type="hidden" name="_method" value="delete" />
                                                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="user-post">
                                                        <p th:text="${post.content}"></p>
                                                        <div class="grid-container">
                                                            <div th:each="images, iterStat : ${imagesList}">
                                                                <div th:each="image, index : ${images}" th:if="${index < 4}" class="grid-item">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-image="${image.path}">
                                                                        <img th:src="@{${image.path}}" alt="Image" class="img-fluid rounded check-orientation" />
                                                                    </a>
                                                                </div>
                                                                <div th:if="${images.size() > 4}" class="grid-item position-relative">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-image="${images[4].path}">
                                                                        <img th:src="@{${images[4].path}}" alt="Image" class="img-fluid" />
                                                                        <div class="overlay">
                                                                            <span th:text="'+' + (${images.size()} - 4)"></span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Modal hiển thị chi tiết hình ảnh -->
                                                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-img-body" style="text-align: center">
                                                                    <img id="modalImage" src="" alt="Large Image" class="img-fluid-modal" />
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="zoomInBtn" type="button" class="btn btn-secondary"><i class="ri-zoom-in-line"></i></button>
                                                                    <button id="zoomOutBtn" type="button" class="btn btn-secondary"><i class="ri-zoom-out-line"></i></button>
                                                                    <button id="prevBtn" type="button" class="btn btn-secondary" style="display: none;"><i class="ri-arrow-left-s-line"></i></button>
                                                                    <button id="nextBtn" type="button" class="btn btn-secondary" style="display: none;"><i class="ri-arrow-right-s-line"></i></button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="comment-area mt-3">
                                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                                            <div class="like-block position-relative d-flex align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="total-like-block ms-2 me-3">
                                                                        <div class="dropdown">
                                                                            <span th:text="${likesList[iterStat.index].size()} + ' Tương tác'" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                                            <div class="dropdown-menu">
                                                                                <a th:each="like : ${likesList[iterStat.index]}" th:text="${like.user.name}" class="dropdown-item">Tên người dùng</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="total-comment-block">
                                                                    <div class="dropdown">
                                                                        <span th:text="${commentsList[iterStat.index].size()} + ' Bình luận'" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                                        <div class="dropdown-menu">
                                                                            <a th:each="comment : ${commentsList[iterStat.index]}" th:text="${comment.user.name}" class="dropdown-item" href="#"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <ul class="post-comments p-0 m-0" id="commentList">
                                                            <li th:each="comment, iterStat : ${commentsList[iterStat.index]}" th:if="${comment.deletedAt == null}">
                                                                <div class="d-flex flex-wrap " th:if="${ comment.parentComment == null}">
                                                                    <div class="user-img">
                                                                        <img th:src="@{'/avatars/' + ${comment.user.avatar}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                                    </div>
                                                                    <div class="comment-data-block ms-3">
                                                                        <h6 th:text="${comment.user.name}"></h6>
                                                                        <p class="mb-0" th:text="${comment.content}"></p>
                                                                        <div class="d-flex flex-wrap align-items-center comment-activity">
                                                                            <a th:href="@{/dashboard/post/deleteComment/{post_id}/{commentId}(post_id=${post.id}, commentId=${comment.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận này không?');">
                                                                                <i class="ri-delete-bin-line"></i>
                                                                            </a>
                                                                            <span th:text="${#dates.format(comment.createdAt, 'HH:mm dd/MM/yyyy ')}"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Hiển thị bình luận con nếu có -->
                                                                <ul class="reply-comments ms-4 post-comments p-0 m-0">
                                                                    <li th:each="reply : ${comment.replies}" th:if="${(reply.parentComment.id == comment.id) && (reply.deletedAt == null)}">
                                                                        <div class="d-flex flex-wrap">
                                                                            <div class="user-img">
                                                                                <img th:src="@{'/avatars/' + ${reply.user.avatar}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                                            </div>
                                                                            <div class="comment-data-block ms-3">
                                                                                <h6 th:text="${reply.user.name}"></h6>
                                                                                <p class="mb-0" th:text="${reply.content}"></p>
                                                                                <div class="d-flex flex-wrap align-items-center comment-activity">
                                                                                    <a th:href="@{/dashboard/post/deleteComment/{post_id}/{commentId}(post_id=${reply.post.id}, commentId=${reply.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận này không?');">
                                                                                        <i class="ri-delete-bin-line"></i>
                                                                                    </a>
                                                                                    <span th:text="${#dates.format(reply.createdAt, 'HH:mm dd/MM/yyyy ')}"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <!-- Hiển thị bình luận con của bình luận con -->
                                                                        <ul class="reply-comments ms-4 post-comments p-0 m-0">
                                                                            <li th:each="subReply : ${reply.replies}" th:if="${(subReply.parentComment.id == reply.id) && (subReply.deletedAt == null)}">
                                                                                <div class="d-flex flex-wrap">
                                                                                    <div class="user-img">
                                                                                        <img th:src="@{'/avatars/' + ${subReply.user.avatar}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                                                    </div>
                                                                                    <div class="comment-data-block ms-3">
                                                                                        <h6 th:text="${subReply.user.name}"></h6>
                                                                                        <p class="mb-0" th:text="${subReply.content}"></p>
                                                                                        <div class="d-flex flex-wrap align-items-center comment-activity">
                                                                                            <a th:href="@{/dashboard/post/deleteComment/{post_id}/{commentId}(post_id=${subReply.post.id}, commentId=${subReply.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận này không?');">
                                                                                                <i class="ri-delete-bin-line"></i>
                                                                                            </a>
                                                                                            <span th:text="${#dates.format(subReply.createdAt, 'HH:mm dd/MM/yyyy ')}"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>